<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors) {
          <div class="error-message ion-padding-start">
            @if (loginForm.get('email')?.errors?.['required']) {
              <span>El correo es requerido</span>
            }
            @if (loginForm.get('email')?.errors?.['email']) {
              <span>Correo inválido</span>
            }
          </div>
        }

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors) {
          <div class="error-message ion-padding-start">
            @if (loginForm.get('password')?.errors?.['required']) {
              <span>La contraseña es requerida</span>
            }
            @if (loginForm.get('password')?.errors?.['minlength']) {
              <span>Mínimo 6 caracteres</span>
            }
          </div>
        }

        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">
          Iniciar sesión
        </ion-button>
      </form>

      <div class="ion-text-center ion-margin-top">
        <ion-button fill="clear" size="small" (click)="forgotPassword()">
          ¿Olvidaste tu contraseña?
        </ion-button>
      </div>

      <div class="ion-text-center ion-margin-top">
        <p>¿No tienes una cuenta?</p>
        <ion-button fill="clear" (click)="goToRegister()">
          Regístrate aquí
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>