/* src/app/pages/register/register.page.scss */
.error-message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  padding-left: 16px;
  padding-top: 5px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  
  a {
    color: var(--ion-color-primary);
    cursor: pointer;
    text-decoration: none;
  }
}