<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngIf="userRole === 'owner'" routerLink="/perfil" routerDirection="forward">
        Perfil
      </ion-item>
      <ion-item *ngIf="userRole === 'owner'" routerLink="/petfile" routerDirection="forward">
        Ficha Mascota
      </ion-item>
      <ion-item *ngIf="userRole === 'owner'" routerLink="/calendar" routerDirection="forward">
        Calendario
      </ion-item>

      <ion-item routerLink="/veterinarios" routerDirection="forward">
        Veterinarios
      </ion-item>
      
      <ion-item *ngIf="userRole === 'admin'" routerLink="/gestion-mascota" routerDirection="forward">
        Gestion Mascotas
      </ion-item>
      

      <ion-item *ngIf="userRole === 'owner'" routerLink="/chatbot" routerDirection="forward">
        Chatbot
      </ion-item>

      <ion-item (click)="logout()">
        Cerrar sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>